.DS_Store
/node_modules
*-lock.*
*.lock
*.log

/dist


node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
.shadow-cljs
.idea
.lein-*
.nrepl-*

.hgignore
.hg/

.clj-kondo
.cpcache

.env-*
.lsp
.vscode

.env
.env-*

*pom.asc
