{:paths
 ["src"]

 :deps
 {com.taoensso/truss         {:mvn/version "1.11.0"}
  lambdaisland/data-printers {;; Quickly define print handlers for tagged literals across print/pprint implementations
                              :mvn/version "0.7.47"}
  zprint/zprint              {:mvn/version "1.2.8"}
  thheller/shadow-cljs       {:mvn/version "2.26.2"}}

 :aliases
 {:build  {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
           :ns-default build}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn    deps-deploy.deps-deploy/deploy
           :exec-args  {:installer      :remote
                        :artifact       "target/approvals-clj-0.0.3.jar"}}
  :test   {:extra-paths ["test"]}}}
