;; shadow-cljs configuration
{:deps {:aliases [:test]}

 :builds
 {:env/test {:target           :node-test
             :output-to        "target/test/index.js"
             :ns-regexp        "-test$"
             :autorun          true
             :compiler-options {:output-feature-set :es-next}}}}
